@import url('https://fonts.googleapis.com/css?family=Pacifico');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  margin: 1rem;
  color: teal;
}

.app-title {
  margin: 0;
  width: 100%;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
